h3 {
  color: #353535;
  font-size:15px;
  font-weight: bold;
  text-transform: uppercase;
}
.editor {
  border: 1px solid #C0C0C0;
}
.navbar-nav>li>a {
  background: #3a3a3a;
  color: white;
}
.nav-pills>li>a {
  border-radius: 0;
}
.nav>li>a:hover {
  color: #3a3a3a
}
.window-label {
  position: absolute;
  top: 10px;
  right: 30px;
}
.spinner img {
  position: absolute;
  z-index: 10;
  left: 40%;
  top: 25%;
  display: none;
}
table#transactions {
  table-layout: fixed;
}
table#transactions thead {
  background-color: black;
}
table#transactions thead th {
  background-color: 3a3a3a;
  color: white;
}
table#transactions td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
table#transactions td.result-summary-cache {
  text-align: center;
}
table#transactions td.cache-miss {
  background-color: #de1d1d;
  color: white;
}
table#transactions td.cache-hit {
  background-color: #1e9753;
  color: white;
}


/* Social */
.social-holder{
  text-align:center;
  max-width:200px;
  padding-top:10px;
  padding-bottom:67px;
  /*margin-bottom:67px;*/
  /*border-bottom:1px solid #60708b;*/
  border-radius: 10px;
}
.social{
  margin:0;
  padding:0;
  list-style:none;
  overflow:hidden;
  display:inline-block;
  vertical-align:top;
}
.social li{
  float:left;
  padding-left:10px;
}
.social li:first-child{padding:0;}
.social a{
  text-indent:-9999px;
  background:url(/images/ico-social.png) no-repeat;
  width:51px;
  height:51px;
  display:block;
}
.social .facebook{background-position: -17px -18px;}
.social .twitter{background-position: -72px -18px;}
.social .google-plus{background-position: -183px -185px;}

/*.social .twitter:hover{background-position:0 -55px;}
.social .facebook:hover{background-position:-89px -55px;}
.social .google-plus:hover{background-position:-179px -55px;}*/
