<form method="post" action="/vcl/run">
  <textarea name="vcl"><%= vcl %></textarea>
  <textarea name="har"><%= har %></textarea>
  <textarea><%= log %></textarea>
  <input type="submit" value="Run" />
</form>